* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1eeee;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: white;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.logo {
    max-width: 200px;
    position: relative;
    z-index: 10;
}

.nav-list {
    display: flex;
    gap: 48px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid rgb(1, 172, 242);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    font-size: 16px;
    font-weight: bold;
    
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.box {
    height: 400px;
    background-color: white;
    border: 2px solid rgb(1, 172, 242);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    height: 200px;
    background-color: black;
    border-top: 2px solid rgb(1, 172, 242);
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 15px;
    flex-direction: column;
    flex-wrap: wrap;
}

.socials a {
    color: white;
}

.nav-list a:hover {
    color: #00c3ff;
    transition: color 0.3s ease-in-out;
}





@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .nav-list {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        width: 70%;
        height: 400px;
    }
}
