* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1eeee;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: white;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    max-width: 200px;
}

.nav-list {
    display: flex;
    gap: 48px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.box {
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    height: 200px;
    background-color: black;
    border-top: 2px solid #00c3ff;
    color: white;
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 15px;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    flex-wrap: wrap;
}

.socials a {
    color: white;
}

/* Адаптивность */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .nav-list {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        width: 70%;
        height: 15%;
    }
}
